*{
    background-color: #fff7f3;
    margin: 0;
    padding: 0;
}
.maanedbog{
    background-color: #fefdf9;
}
.harry{
    background-color: #fef2f2;
}

/* Header */
header h1{
    color: #fe7d4e;
}
header h1{
    color: #333;
}