@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    max-width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    overflow-x: hidden;
}
main{
    background-color: #fff7f3;
}
.maanbog{
    background-color: #fefdf9;
}
.harry{
    background-color: #fef2f2;
}
.btn, .bogcover{
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3);
}
a{
    display: inline;
    text-decoration: none;
    color: #333;
}

/* Header */
header h1{
    color: #333;
    display: inline;
    font-size: 25px;
}
.headflex{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}
#menu{
    display: none;
    grid-template-rows: repeat(4, auto);
    place-items: center end;
    gap: 30px;
    font-weight: 800;
    font-size: larger;
}
.opbrug{
    color: #fe7d4e;
    border-radius: 50px;
    padding: 15px 30px;
}
.overskrift h1:first-child{
    color: #fe7d4e;
}
/* hammenu */
.ham{
    position: relative;
}
.menu-btn{
    height: 40px;
    width: 40px;
    opacity: 0;
    position: absolute;
    top: 5px;
    right: -50px;
    z-index: 7;
}
.div1, .div2, .div3{
    display: inline;
    height: 10px;
    width: 40px;
    background-color: black;
    position: absolute;
    right: -50px;
    top: 20px;
    transition: all 1s;
}
.div1{
    top: 5px;
}
.div3{
    top: 35px;
}
.menu-btn:checked ~ .div1{
    top: 20px; transform: rotateZ(45deg);
}
.menu-btn:checked ~ .div2{
    opacity: 0;
}
.menu-btn:checked ~ .div3{
    top: 20px; transform: rotateZ(-45deg);
}
.menu-btn:checked ~ #menu{
    display: grid;
    position: absolute;
    top: 80px;
    right: -100px;
    background-color: #fef2f2;
    z-index: 10;
    padding: 10px;
}

/* hero */
.hero img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 60%;
    filter: brightness(60%);
}
.hero{
    position: relative;
}
.hero p{
    position: absolute;
    top: 9.5px;
    right: 30px;
    background: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    width: 300px;
}

/* main grid */
.secondhand{
    grid-area: secondhand;
}
.maanbog{
    grid-area: maanbog;
}
.bogklub{
    grid-area: bogklub;
}
main{
    display: grid;
    grid-template: ". . ." 50px
                   ". secondhand ." auto
                   ". . ." 50px
                   "maanbog maanbog maanbog" auto
                   ". . ." 50px
                   "bogklub bogklub bogklub" auto
                   ". . ." 50px / 25px 1fr 25px;
    place-items: center;
}

/* secondhand */
#gridtitle{
    grid-area: title;
    font-size: 20px;
    font-weight: 900;
}
#visflere{
    grid-area: flere;
    place-self: end;
    font-size: 20px;
    font-weight: 900;
}
.cover1{
    grid-area: cover1;
}
.cover2{
    grid-area: cover2;
}
.cover3{
    grid-area: cover3;
}
.cover4{
    grid-area: cover4;
}
.secondhand{
    display: grid;
    grid-template: "title flere" auto
                   "cover1 cover2" 175px
                   "cover3 cover4" 175px / 1fr 1fr;
    gap: 30px 30px;
}
.secondhand img{
    height: 175px;
}

/* måneds bog */
.infoommaan{
    grid-area: maan;
    place-self: center;
    display: grid;
    place-items: center;
}
.harry{
    grid-area: harry;
    display: grid;
    place-items: center;
}
.harry img{
    width: 200px;
}
.harry div{
    display: grid;
    place-items: center;
    grid-template-rows: repeat(2, auto);
    column-gap: 100px;
}
.overskrift{
    grid-area: overskrift;
    font-size: 40px;
    color: #543d32;
}
.forfatter{
    grid-area: forfatter;
    color: #707070;
    font-weight: 700;
    font-size: 20px;
}
.type{
    grid-area: type;
    color: #707070;
    font-weight: 700;
    font-size: 20px;
}
.navn{
    grid-area: navn;
    font-weight: 700;
    font-size: 23px;
}
.typer{
    grid-area: typer;
    font-weight: 700;
    font-size: 23px;
}
.boginfo{
    grid-area: boginfo;
    color: #707070;
    font-size: 20px;
}
.bestilbog{
    grid-area: bestilbog;
}
.bestilbog .btn{
    background-color: #fe7d4e;
    color: #fff;
    padding: 20px 40px;
    border-radius: 50px;
}
.infoombog{
    width: 100vw;
    display: grid;
    grid-template: "overskrift overskrift" auto
                   ". ." 20px
                   "forfatter type" auto
                   "navn typer" auto
                   ". ." 50px
                   "boginfo boginfo" auto
                   ". ." 80px
                   "bestilbog ." auto / 160px auto;
    gap: 10px 30px;
}
.maanbog{
    display: grid;
    grid-template: "maan" auto
                   "harry" auto / auto;
}
.infoommaan div{
    width: 240px;
}

/* bogklub */
.bogklub{
    position: relative;
}
.bogklub p{
    position: absolute;
    top: 45%;
    left: 20px;
    background-color: #fe7d4e;
    color: #fff;
    padding: 20px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
}

/* footer */
.hvor{
    grid-area: hvor;
}
.tid{
    grid-area: tid;
}
.tlf{
    grid-area: tlf;
}
.mail{
    grid-area: mail;
}
.social{
    grid-area: social;
    place-self: end start;
}
.social img{
    width: 30px;
}
.footgrid{
    place-self: center;
    display: grid;
    gap: 20px 10px;
    grid-template: "hvor tid" auto
                   "tlf social" auto
                   "mail social" auto / max-content max-content;
    font-size: 13px;
    padding: 10px;
}
footer{
    display: grid;
}
.footgrid div p:first-child{
    color: #333;
    font-weight: 700;
}
.hvor h4{
    display: inline;
    font-size: 16px;
}
.hvor h4:first-child{
    color: #fe7d4e;
}
footer > img{
    display: none;
}

/* media */
@media screen and (min-width: 769px){
    /* Header */
    header h1{
        font-size: 50px;
    }
    .headflex{
        padding: 30px 70px;
    }
    #menu{
        display: grid;
        grid-template-columns: repeat(4, auto);
        place-items: center;
        column-gap: 30px;
        font-weight: 800;
        font-size: larger;
    }
    /* hammenu */
    .menu-btn, .div1, .div2, .div3{
        display: none;
    }
    .menu-btn:checked ~ #menu{
        display: grid;
        position: static;
        background: none;
        z-index: auto;
        padding: 0;
    }
    
    /* hero */
    .hero img{
        height: 700px;
    }
    .hero p{
        top: 233.5px;
        right: 37px;
        font-size: 25px;
        width: 950px;
    }
    
    /* main grid */
    main{
        grid-template: ". . ." 100px
                       ". secondhand ." auto
                       ". . ." 100px
                       "maanbog maanbog maanbog" auto
                       ". . ." 100px
                       "bogklub bogklub bogklub" auto
                       ". . ." 100px / 100px 1fr 100px;
    }
    
    /* secondhand */
    #gridtitle{
        font-size: 33px;
        font-weight: 900;
    }
    .secondhand{
        grid-template: "title flere" auto
                       "cover1 cover2" 500px
                       "cover3 cover4" 500px / 1fr 1fr;
        gap: 30px 74px;
    }
    .secondhand img{
        height: auto;
    }
    
    /* måneds bog */
    .harry div{
        grid-template-columns: repeat(2, auto);
    }
    .harry img{
        width: 300px;
    }
    .infoombog{
        width: 536px;
    }
    
    /* bogklub */
    .bogklub p{
        left: 300px;
        padding: 20px 50px;
        font-size: larger;
    }
    
    /* footer */
    .social img{
        width: 50px;
    }
    .footgrid{
        gap: 20px 50px;
        font-size: 20px;
    }
    footer{
        grid-template-columns: auto auto;
    }
    .hvor h4{
        font-size: 25px;
    }
    footer img{
        display: inline;
        width: 400px;
    }
}
@media screen and (min-width: 1900px){
    /* Header */
    .headflex{
        padding: 30px 150px;
    }
    
    /* hero */
    .hero img{
        height: 900px;
    }
    .hero p{
        top: 333.5px;
        right: 476.5px;
    }
    
    /* main grid */
    main{
        grid-template: ". . ." 170px
                       ". secondhand ." auto
                       ". . ." 170px
                       "maanbog maanbog maanbog" auto
                       ". . ." 170px
                       "bogklub bogklub bogklub" auto
                       ". . ." 170px / 200px 1fr 200px;
    }
    
    /* secondhand */
    .secondhand{
        grid-template: "title . . flere" auto
                       "cover1 cover2 cover3 cover4" 500px / 1fr 1fr 1fr 1fr;
    }
    
    /* måneds bog */
    .maanbog{
        grid-template: "maan harry" auto / 627px 1254px;
    }
    
    /* bogklub */
    .bogklub p{
        left: 783px;
    }
    
    /* footer */
    .footgrid{
        gap: 20px 100px;
    }
    footer{
        grid-template-columns: auto 580px;
    }
    footer > img{
        width: auto;
    }
}