@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    background-color: #fff7f3;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.maanbog{
    background-color: #fefdf9;
}
.harry *{
    background-color: #fef2f2;
}
.btn, .bogcover{
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3);
}
a{
    display: inline;
    text-decoration: none;
    color: #333;
}
main a::after{
    content: url(img/arrow-icon.svg);
}

/* Header */
header h1{
    color: #333;
    display: inline;
}
.headflex{
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
}
#menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-items: center;
    column-gap: 30px;
    font-weight: 800;
    font-size: larger;
}
.opbrug{
    color: #fe7d4e;
    border-radius: 50px;
    padding: 15px 30px;
}
.overskrift h1:first-child{
    color: #fe7d4e;
}

/* hero */
.hero img{
    height: 900px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 60%;
    filter: brightness(60%);
}
.hero{
    position: relative;
}
.hero p{
    position: absolute;
    top: 333.5px;
    right: 476.5px;
    background: none;
    color: #fff;
    text-align: center;
    font-size: 25px;
    width: 950px;
}

/* main grid */
.secondhand{
    grid-area: secondhand;
}
.maanbog{
    grid-area: maanbog;
}
.bogklub{
    grid-area: bogklub;
}
main{
    display: grid;
    grid-template: ". . ." 170px
                   ". secondhand ." auto
                   ". . ." 170px
                   "maanbog maanbog maanbog" auto
                   ". . ." 170px
                   "bogklub bogklub bogklub" auto
                   ". . ." 170px / 200px auto 200px;
    place-items: center;
}

/* secondhand grid */
#gridtitle{
    grid-area: title;
}
#visflere{
    grid-area: flere;
    place-self: end;
}
.cover1{
    grid-area: cover1;
}
.cover2{
    grid-area: cover2;
}
.cover3{
    grid-area: cover3;
}
.cover4{
    grid-area: cover4;
}
.secondhand{
    display: grid;
    grid-template: "title . . flere" auto
                   "cover1 cover2 cover3 cover4" 500px / 1fr 1fr 1fr 1fr;
    gap: 10px 74px;
}

/* secondhand */
